- if @source
  = hidden_field_tag "team_label", @team, { :id=> "team-label" }

.container
  .page-header
    %h1.page-title= "Team Dashboard for #{@source.path}: #{@team}"
  .row.row-cards
    .col-6.col-sm-4.col-lg-2
      .card
        .card-body.p-3.text-center
          #team-bugs-severity-number
            .total.h1.m-0 0
          .text-muted.mb-4 Percentage Open Bugs Severitized
    .col-6.col-sm-4.col-lg-2
      .card
        .card-body.p-3.text-center
          #team-bugs-priority-number
            .total.h1.m-0 0
          .text-muted.mb-4 Percentage Open Bugs Prioritized
    .col-4
      .card
        .card-header
          %h3.card-title Open Bugs by Severity
        %canvas#team-bugs-severity-pie
    .col-4
      .card
        .card-header
          %h3.card-title Open Bugs by Priority
        %canvas#team-bugs-priority-pie
  .row.row-cards
    .col-lg-6
      .card
        .card-header
          %h3.card-title Regressions Per Milestone
        %canvas#team-regressions-per-milestone
    .col-lg-6
      .card
        .card-header
          %h3.card-title Missed Deliverables Per Milestone
        %canvas#team-missed-deliverables-per-milestone
  .row.row-cards
    .col-lg-6
      .card
        .card-header
          %h3.card-title Weekly Throughput
        %canvas#team-mrs-per-week

- if @source.is_a? Group
  = render partial: 'shared/project_level_links', locals: { group: @group, name: 'team', link: method(:group_project_team_path), id: @team.downcase }
