= render partial: 'shared/developer_productivity_metrics', locals: { source: @group }
= render partial: 'shared/project_level_links', locals: { group: @group, name: 'developer productivity metrics', link: method(:group_project_developer_productivity_metrics_path) }
