= render partial: 'shared/missed_deliverables', locals: { source: @group }
= render partial: 'shared/project_level_links', locals: { group: @group, name: 'missed deliverables', link: method(:group_project_missed_deliverables_path) }

