= render partial: 'shared/regressions', locals: { source: @group }
= render partial: 'shared/project_level_links', locals: { group: @group, name: 'regressions', link: method(:group_project_regressions_path) }
