.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title Bugs Classification
  .row.row-cards
    .col-6.col-sm-4.col-lg-2
      .card
        .card-body.p-3.text-center
          #bugs-severity-number
            .total.h1.m-0 0
          .text-muted.mb-4 Percentage Open Bugs Severitized
    .col-6.col-sm-4.col-lg-2
      .card
        .card-body.p-3.text-center
          #bugs-priority-number
            .total.h1.m-0 0
          .text-muted.mb-4 Percentage Open Bugs Prioritized
  .row.row-cards
    .col-md-6.col-lg-6
      .card
        .card-header
          %h3.card-title Open Bugs by Severity
        %canvas#bugs-severity-pie
    .col-md-6.col-lg-6
      .card
        .card-header
          %h3.card-title Open Bugs by Priority
        %canvas#bugs-priority-pie
