.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title Bugs By Priority
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Cumulative Open bugs by Priority
        %canvas#cumulative-bugs-created-priority-month
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Open bugs by Priority
        %canvas#bugs-created-priority-month
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Closed bugs by Priority
        %canvas#bugs-closed-priority-month
