.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title Bugs By Team
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Cumulative Bugs Created Per Month Per Team
        %canvas#cumulative-bugs-created-per-month
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Bugs Created Per Month Per Team
        %canvas#bugs-created-per-month
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Bugs Closed Per Month Per Team
        %canvas#bugs-closed-per-month
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Bugs Created Per Day Per Team
        %canvas#bugs-created-per-day
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Bugs Closed Per Day Per Team
        %canvas#bugs-closed-per-day
