.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title Bugs By Severity
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Cumulative Open bugs by Severity
        %canvas#cumulative-bugs-created-severity-month
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Open bugs by Severity
        %canvas#bugs-created-severity-month
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Closed bugs by Severity
        %canvas#bugs-closed-severity-month
