.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title Developer Productivity Metrics
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Average MRs Merged Per Author Per Milestone (team only)
        %canvas#average-mrs-milestone-team
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Average MRs Merged Per Author Per Milestone (including community)
        %canvas#average-mrs-milestone-all
