.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title Feature Proposal by Team
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Feature Proposal Created Per Month Per Team
        %canvas#proposals-created-per-month
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Feature Proposals Closed Per Month Per Team
        %canvas#proposals-closed-per-month
