.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title Missed Deliverables
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Missed Deliverables Per Milestone
        %canvas#missed-deliverables-per-milestone
