.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title Regressions
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Regressions Per Milestone
        %canvas#regressions-per-milestone
