!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GitLab Quality Dashboard
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .header.py-4
      .container
        .d-flex
          = link_to 'Insights', groups_path, class: 'header-brand'
    .header.collapse.d-lg-flex.p-0
      .container
        .row.align-items-center
          .col-lg-3.ml-auto
            - if @project && @project.latest_revision
              %div
                = "Last updated: #{@project.latest_revision}"
          .col-lg.order-lg-first
            %ul.nav.nav-tabs.border-0.flex-column.flex-lg-row
              %li.nav-item
                = link_to 'Groups', groups_path, class: 'nav-link'
              - if @group
                %li.nav-item >
                %li.nav-item
                  = link_to @group.path, group_path(@group.path), class: 'nav-link'
              - if @project
                %li.nav-item >
                %li.nav-item
                  = link_to 'Projects', group_projects_path(@group.path), class: 'nav-link'
                %li.nav-item >
                %li.nav-item
                  = link_to @project.path, group_project_path(@group.path, @project.path), class: 'nav-link'
    .page
      .page-main
        .my-3.my-md-5
          - if @group && !@project
            = hidden_field_tag "group_path", @group.path, { :id=> "group-path" }
          - if @project
            = hidden_field_tag "group_path", @project.group.path, { :id=> "group-path" }
            = hidden_field_tag "project_path", @project.path, { :id=> "project-path" }
          = yield
